@import "tailwindcss";


/* Custom animation for dropdown */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-in-out;
}

.footer-link {
  @apply inline-block px-2 py-1 border border-transparent rounded transition-all duration-300;
}

.footer-link:hover {
  @apply border-white text-[#00bcd4] backdrop-blur-sm;
}